@charset "utf-8";

/* 리셋 코드 */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img, iframe {
  vertical-align: top;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 상단영역 */
header {
  width: 1440px;
  margin: 16px auto 60px;
}

header #util {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

header #util .link {
  display: flex;
  margin-right: 17px;
}

header #util .link li {
  border-top: 3px solid #000;
  margin-right: 4px;
}

header #util .link li:last-child {
  margin-right: 0;
  margin-left: 16px;
}

header #util .sns {
  display: flex;
}

header #util .sns {
  border-top: 3px solid #000;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner #menu ul {
  display: flex;
}

header .inner #menu a {
  font-size: 22px;
  color: #222;
  text-decoration: none;
  font-weight: 500;
}

header .inner #login ul {
  display: flex;
}

/* 중앙영역 */
main {
  width: 1440px;
  margin: 0 auto 60px;
  border-bottom: 1px solid #666;
}

#main_visual .swiper-slide img {
  width: 100%;
}

#main1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /*flex-grow: 1;*/
  margin-bottom: 60px;
  margin-top: 40px;
}

#main1 .main1_info {
  border-bottom: 3px solid #000;
  width: 1140px;
}

#main1 .main1_info ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

#main1 .main1_link ul {
  display: flex;
} 

#main2 {
  margin-bottom: 60px;
}

#main2 > h2 {
  font-size: 46px;
  margin-bottom: 42px;
}

#main2 ul {
  display: flex;
  justify-content: space-between;
}

#main2 .content {
  width: 313px;
  height: 450px;
  margin-bottom: 20px;
}

#main2 .content img {
  width: 100%;
  height: 100%;
}

#main2 li .present {
  border: 1px solid #000;
  color: white;
  background-color: #000;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
}

#main2 li .type {
  border: 1px solid #000;
  float: left;
  padding: 0 10px;
}

#main2 li p:nth-child(4) {
  clear: both;
  font-weight: bold;
  margin-bottom: 10px;
}

#main3 {
  margin-bottom: 60px;
}

#main3 h2{
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 42px;
}

#main3 h2 img {
  width: 27px;
  height: 42px;
  vertical-align: middle;
  margin-right: 20px;
}

#main3 #main3_content {
  display: flex;
  justify-content: space-between;
}


#main3 #main3_content article {
  width: 48.2%;
}

#main3 .main3_notice {
  font-size: 0;
  border-bottom: 1px solid #000;
}

#main3 .main3_notice input {
  display: none;
}

#main3 .main3_notice label {
  display: inline-block;
  width: 21.04%;
  padding: 1px 6px 15px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  color: #666;
  cursor: pointer;
}

#main3 .main3_notice input:checked + label {
  color: #222;
  font-weight: bold;
  border-bottom: 4px solid #222;
}

#main3 .main3_notice hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
}

#main3 .main3_notice div {
  height: 350px;
  display: none;
}

#main3 .main3_notice #tab1:checked ~ #board1 {
  display: block;
}

#main3 .main3_notice #tab2:checked ~ #board2 {
  display: block;
}

#main3 .main3_notice #tab3:checked ~ #board3 {
  display: block;
}

#main3 .main3_notice #tab4:checked ~ #board4 {
  display: block;
}

#main3 .main3_notice div ul {
  
}

#main3 .main3_notice div li {
  margin-top: 32px;
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding-left: 10px;
}

#main3 .main3_notice div li::before {
  content:"";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #222;
  flex-shrink: 0;
  align-self: center;
}

#main3 .main3_notice div p {
  font-size: 18px;
}

#main3 .main3_notice div p:first-child {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #222;
  font-weight: 500;
}

#main3 .main3_notice div p:last-child {
  color: #7c7c7c;
}

#main3 .main3_notice #board2 {
  background: #0f0;
}

#main3 .main3_notice #board3 {
  background: #00f;
}

#main3 .main3_notice #board4 {
  background: #0ff;
}

#main3 .notice_banner {
  margin: 0;
}

#main4 {
  display: flex;
  justify-content: space-between;
}

#main4 h3 {
  font-size: 30px;
}

#main4 .edu p:nth-of-type(1) {
  border: 1px solid #666;
  margin-top: 20px;
}

#main4 div > p:nth-of-type(1) {
  margin-top: 20px;
}

#main4 div > p:nth-of-type(2) {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

#main4 .edu img {
  width: 376px;
  height: 236px;
}

#main4 .event {
  margin-bottom: 120px;
}

#main4 .online p:nth-of-type(1) {
  width: 670px;
  height: 386px;
  display: flex;
  justify-content: center;
  background-color: #999;
}

/* 하단영역 */

footer {
  width: 1440px;
  margin: 0 auto;
}

footer #footer_menu p {
  margin-bottom: 40px;
}

footer #footer_main {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

/*footer #footer_main ul.footer_ul1 {
  margin-right: 60px;
}*/

footer #footer_main .footer_ul1 li {
  margin-bottom: 10px;
}

footer #footer_main .footer_ul1 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer #footer_main .footer_ul2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer #footer_main .footer_ul2 li {
  border-bottom: 2px solid #000;
}

footer #footer_main .footer_ul2 p {
  padding-bottom: 10px;
}

footer #footer_main .footer_ul3 li {
  margin-bottom: 10px;
}

footer #footer_main .footer_ul3 a {
  text-decoration: none;
  color: black;
}

footer #footer_main .footer_ul3 li:nth-of-type(1) a {
  font-weight: bold;
}

footer #footer_main .footer_ul4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
